<div class="list row">
  <!--<div class="col-md-8">
    <div class="input-group mb-3">

      <input
        type="text"
        class="form-control"
        placeholder="Buscar por titulo"
        [(ngModel)]="title">
      <div class="input-group-append">
        <button
          class="btn btn-outline-secondary"
          type="button"
          (click)="searchTitle()">
          Buscar
        </button>
      </div>

    </div>
  </div>-->


  <div class="col-md-6">
    <h4>Lista de Categorias</h4>
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let category of categories; let i =index" [class.active]="i==currentIndex"
        (click)="setActiveCategory(category, i)">
        {{ category.name }}
      </li>
    </ul>

    <button class="m-3 btn btn-sm btn-danger" (click)="removeAllCategories()">
      Quitar todo
    </button>
  </div>
  <div class="col-md-6">
    <app-category-details
      [viewMode]="true"
      [currentCategory]="currentCategory"
      ></app-category-details>
  </div>
</div>

